//
body {
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    padding: 3px;
    margin: 1px;
   color: black;
   font-size: 20px;
}



li {
    list-style-type: none;
    padding: 2px;
    margin-bottom: 3px;
    border: 1px solid cornflowerblue;
    text-align: center;
}

#creation {
    font-size: 35px;
    padding: 3px;
    margin: 3px;
    color:aqua;
    border: 1px solid white;
}